<div class="site-header">
  <div class="flex-container site-header-tool-line">
    <div class="site-header-hamburger" (click)="openSideBarMenu()"><i class="fas fa-bars"></i></div>
    <div class="site-header-search"><i class="fas fa-search"></i></div>
    <div class="site-header-spacing"></div>
    <button class="add-project">+ Add project</button>
    <div class="envelope-icon"><i class="fas fa-envelope"></i></div>
    <div class="bell-icon"><i class="fas fa-bell"></i></div>
    <img class="user-img" [src]=user alt="user image">
  </div>
</div>


